---
import FormattedDate from "./FormattedDate.astro";
import ReadingTime from "./ReadingTime.astro"

interface Props {
  title: string;
  desc: string;
  href: string;
  pubDate: Date;
  content: string;
}

const { href, title, desc, pubDate, content } = Astro.props;
---

<li class="py-6">
  <a href={`/blog/${href}`}>
    <div class="space-y-2 flex flex-col">
      <div>
        <div class="font-light text-sm">
          <FormattedDate date={pubDate} />
        </div>
        <h2 transition:name={title}>{title}</h2>
      </div>
      <p class="font-light text-dark-gray-200">{desc}</p>
      <ReadingTime content={content} />
    </div>
  </a>
</li>
