---
import { SOCIALS } from "../config";
import socialicons from "../socialicons";
import { Icon } from 'astro-icon/components'

---

<div class="flex items-center justify-center space-x-2 text-dark-gray-500">
  {
    SOCIALS.filter((social) => social.active).map((social) => (
      <a
        href={social.href}
        aria-label={social.linkTitle}
        title={social.linkTitle}
        target="_blank"
      >
        <Icon class="size-6 md:size-8 ease-in-out hover:text-dark-gray-200 hover:scale-110" name={socialicons[social.name]} />
        <span class="sr-only">{social.linkTitle}</span>
      </a>
    ))
  }
</div>
